	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" routerLink="index"><img src="assets/images/logo.png" alt="Jean Michel Ribeyrolles"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown">
						<a routerLinkActive="active" routerLink="collections" class="dropdown-toggle" data-toggle="dropdown">Collections <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">Murale</a></li>
							<li class="active"><a href="sidebar-right.html">Socle</a></li>
						</ul>
					</li>
                    <li class="active"><a href="#">ART'elier</a></li>
					<li><a href="about.html">Portrait</a></li>
                    <li><a href="about.html">Evènements</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
