<app-header pageType="index"></app-header>
<!-- Intro -->
<div id="container">
    <div class="sous-titre-content">
      <h1>Collections</h1>
    </div>
    <div class="gallery-image">
        <div class="img-box">
            <img src="/assets/images/gallery/socle/22DM0507.jpg" alt="" />
            <div class="transparent-box">
              <div class="caption">
                <p>Socle</p>
                <p class="opacity-low">JmiR</p>
              </div>
            </div> 
          </div>
          <div class="img-box">
            <img src="/assets/images/gallery/murale/20MBD0204.jpg" alt="" />
            <div class="transparent-box">
              <div class="caption">
                <p>Murale</p>
                <p class="opacity-low">JmiR</p>
              </div>
            </div> 
          </div>
          <div class="img-box">
            <img src="/assets/images/gallery/murale/20MBD0204.jpg" alt="" />
            <div class="transparent-box">
              <div class="caption">
                <p>Extérieures</p>
                <p class="opacity-low">JmiR</p>
              </div>
            </div> 
          </div>
    </div>
</div>
<!-- /Intro-->

<!-- Highlights - jumbotron -->
<div id="container" >
  <div class="sous-titre-content">
		<h1>Actualités </h1>
	</div>
	<div class="magazine-layout">
		<div class="magazine-column">
			<article class="article">
				<figure class="article-img">
					<img src="https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" />
				</figure>
			</article>
		</div>
    <div class="magazine-column">
			<article class="article">
				<h2 class="article-title article-title--large">
					<a href="#" class="article-link">ART'elier</a>
				</h2>
				<div class="article-excerpt">
					<p>Invitation à découvrir l’univers d’un sculpteur-musicien à l’ART’elier Samonteil.</p>
					<p>Ouverture annuelle du 15 juin au 10 septembre.
				</div>
			</article>
		</div>
	</div>

</div>
<!-- /Highlights -->